@import url('./component/base.css');
@import url('./component/home_format.css');

.itemContainer {
  margin: 32px;
}

.item {
  background-color: white;
  font-size: 1.5em;
  font-weight: bold;
  margin: 16px auto;
  padding: 16px 0;
  width: 90%;
  border-style: solid;
  border-width: 2.5px;
  border-color: navy;
  border-radius: 31px;
}

.item:hover {
  color: yellow;
  background-color: darkgray;
}