@import url('./component/base.css');
@import url('./component/simple_format.css');

form {
  margin: 0px 36px 36px 36px;
}

.leftFormElement {
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}

.centerFromElement {
  margin-top: 6px;
  margin-bottom: 32px;
}

.inputBox {
  width: 273px;
  text-align: left;
  padding: 6px 6px;
  background-color: white;
  border-color: #595959;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 3px;
}

.inputBox::placeholder {
  color: lightgray;
}

.inputBox:focus {
  background-color: ghostwhite;
  border-color: black;
  color: black;
}

textarea {
    height: 160px;
    resize: none;
}